@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    user-select: none;
    height: 100vh;
    overflow-x: hidden;
    background-color: antiquewhite;
}


/* card component */
.card{
    transform: translateY(0);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 2s;
    /* transition-property: transform; */
    cursor: pointer;
    min-width: 260px;
    width: auto;
    overflow: auto;
}
.card:hover{
    transform: translateY(-20px);   
}

.prev{
    display: none;
}

.home::-webkit-scrollbar{
    display: none;
}

.auto-col-grid{
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

.home{
    /* grid-template-columns: repeat(auto-fill,minmax(260px,1fr)); */
    /* grid-template-columns: repeat(auto-fill,minmax(20vh,2fr)); */
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}


/* category grid component */

.category{
    grid-template-columns: repeat(2,minmax(130px,5fr));
    min-height: 130px;
    min-width: 130px;
}

.category img{
    max-height: 130px;
    object-fit:fill;
}

.category>div{
    display: flex;
    justify-content: center;
}


.deal{
    border: 1px solid red;
    background-color: red;
    border-radius: 5px;
}