@tailwind base;
@tailwind components;
@tailwind utilities;


/* card component */
.card{
    transform: translateY(0);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 2s;
    /* transition-property: transform; */
    cursor: pointer;
}
.card:hover{
    transform: translateY(-20px);
    
}